<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4]">
      <div class="card">
        <img src="https://images.pexels.com/photos/18352660/pexels-photo-18352660/free-photo-of-pavo-real.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
        <div class="card-body">
          <small class="bg-light text-danger text-center"> Design</small>
          <small class="bg-light text-danger text-center ml-3"> Featured</small>
          <small class="bg-light text-danger text-center ml-3"> Views</small>
          <h5 class="mt-1"> HOW TO START A BLOG</h5>
          <p>Dummy text</p>
        </div>
      </div>
    </div>
  </div>
</div>
